* {
	border: 1px solid lightpink;
}

/* Fonts and colors only */
body {
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	font-style: normal;
	text-align: center;
	min-width: 550px;

}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

/*Custom Design*/

.content{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/* Header Styles */
.header {
	height: 300px;
	background-image: url("images/ocean.jpg");
	background-position: center bottom -420px;
	background-size: cover;
}
.banner {
	height: 300px;
	position: center;
	margin: auto 150px;
	text-align: center;
	padding-top: 60px;
	overflow: scroll;
    justify-content: space-around;
}

.banner h1 {
	color: rgb(240, 216, 209);
	text-shadow: 3px 3px 1px #2A323D;
	font-size: 34px;
	letter-spacing: 15px;
	padding: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.banner p {
	color: rgb(240, 216, 209);
	text-shadow: 2px 2px 1px #2A323D;
	font-size: 24px;
	margin: auto 0px;
}
/* ------------------------------------- */


/* Body Styles */
.body {
	flex: 1;
	background-color: #fbf7f8;
	text-align: center;
}

#container {
	padding-left: 200px;
	padding-right: 200px;
}

#container .column {
  position: relative;
  float: left;
}

#center {
  /*width: 100%;*/
}

#left {
  width: 210px;          
  right: 210px;          
  margin-left: -100%;
}
#left ul {
	list-style-type: circle;
}


#right {
  width: 200px;          
  margin-right: -2000px;  
}

	/*Deck & Card Styles*/

.deck {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	width: auto;
	height: 150px;
	margin: 15px;
	flex-basis: 20%;
	background-color: #CCDDEE;
}

.card p {
	background-color: #CCCCFF;
}

	/*End Deck & Card Styles*/


/* ------------------------------------- */


/* Footer Styles */
.footer {
	color: #FFEEEE;
	height: 150px;
	background-color: #42454A;
	padding: 20px;
}
/* ------------------------------------- */



/*Custom Design for Viewport Sizes*/

/*Tablet Format*/
@media screen and (max-width: 769px) {
.banner {
	border-width: 60px 90px;
	margin: 0px;
}
#title {
	font-size: 28px;
	letter-spacing: 8px;	
}
}/*End of Tablet Format*/


/*Phone Format*/
@media screen and (max-width: 481px) {
.banner {
	border-width: 60px 20px 60px 20px;
	margin: 0px;
}
#title {
	font-size: 20px;
	letter-spacing: 2px;
	padding: 20px 0px;
}
#subtitle {
	font-weight: lighter;
	font-size: 18px;
	padding-top: 0px;
}
}/*End of Phone Format*/




