/** {
	border: 1px solid lightpink;
}*/

/* Fonts and colors only */
body {
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	font-style: normal;
	text-align: center;

}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	text-transform: normal;
}

h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	text-transform: normal;
}

/*Custom Design*/

.content{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/* Header Styles */
.header {
	height: 220px;
	background-image: url("images/ocean.jpg");
	background-position: center bottom -420px;
	background-size: cover;
	z-index: 2;
}
.banner {
	height: 220px;
	width: 100vw;
	position: center;
	text-align: center;
	padding-top: 15px;
	overflow: scroll;
    justify-content: space-around;
}

.banner h1 {
	color: rgb(240,240,240);
	text-shadow: 3px 3px 1px #2A323D;
	font-size: 34px;
	letter-spacing: 15px;
	padding: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.banner p {
	color: rgb(240, 216, 209);
	text-shadow: 2px 2px 1px #2A323D;
	font-size: 24px;
	margin: auto 0px;
}
/* ------------------------------------- */


/* Body Styles */
.body {
	display: flex;
	flex: 1;
	background-color: rgb(240,240,240);
	text-align: center;
	z-index: 0;
}

.body * {/*
	border: 1px solid white;*/
	overflow: scroll;
}

#left-background {
	background-color: #b8777d;
	height: 2000px;
	width: 15%;
	z-index: 1;
	position: fixed;
	top: 0px;
	left: 0px;
}

#center {
	width: 70%;
}

#intro {
	/*border: 1px solid pink;*/
	padding-bottom: 10px;
	padding-left: 10px;
}

#deck{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-top: 2px solid #8A84A6;
	padding-top: 10px;
	padding-left: 10px;
}
.card {
	 width: 300px;
}

#left {
	 width: 15%;
	 text-align: center;
	 color: rgb(240,240,240);
	 padding-top: 30px;
	 z-index: 2;
}

#left h3 {
	font-weight: lighter;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 85px;
}

#right {
	width: 20%;
	padding: 25px 20px 20px 20px;
}

/* ------------------------------------- */


/* Footer Styles */
.footer {
	color: #FFEEEE;
	height: 80px;
	background-color: #42454A;
	padding: 10px;
	z-index: 2;
}
/* ------------------------------------- */



/*Custom Design for Viewport Sizes*/

/*Tablet Format*/
@media screen and (max-width: 769px) {
.banner {
	border-width: 60px 90px;
	margin: 0px;
}
#title {
	font-size: 28px;
	letter-spacing: 8px;	
}
}/*End of Tablet Format*/


/*Phone Format*/
@media screen and (max-width: 481px) {
.banner {
	border-width: 60px 20px 60px 20px;
	margin: 0px;
}
#title {
	font-size: 20px;
	letter-spacing: 2px;
	padding: 20px 0px;
}
#subtitle {
	font-weight: lighter;
	font-size: 18px;
	padding-top: 0px;
}

#right {

}
}/*End of Phone Format*/




